
menuconfig MY_LED_SUBSYS
    bool "LED Subsystem"
    default y

if MY_LED_SUBSYS

config APP_HEARTBEAT_PERIOD_MS
    int "Configurable heartbeat LED (100-2000)"
    range 100 2000
    default 500

endif # MY_LED_SUBSYS

source "Kconfig.zephyr"
