# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_COPYRENAMEBOARD
	select SOC_NRF54L15_CPUAPP if BOARD_COPYRENAMEBOARD_NRF54L15_CPUAPP || BOARD_COPYRENAMEBOARD_NRF54L15_CPUAPP_NS
