# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

if BOARD_FROMSCRATCHBOARD

config BOARD_FROMSCRATCHBOARD
	select SOC_NRF54L10_DEVELOP_IN_NRF54L15 if SOC_NRF54L10
	select SOC_NRF54L05_DEVELOP_IN_NRF54L15 if SOC_NRF54L05

config ROM_START_OFFSET
	default 0x800 if BOOTLOADER_MCUBOOT


endif # BOARD_FROMSCRATCHBOARD
