# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_FROMSCRATCHBOARD
	select SOC_NRF54L15_CPUAPP if BOARD_FROMSCRATCHBOARD_NRF54L15_CPUAPP || BOARD_FROMSCRATCHBOARD_NRF54L15_CPUAPP_NS
